<h2>Help this developer answer the question!</h2>
<p>{{question.content}}</p>
<p>Posted by: {{question.author}}</p>
<p>Notes: {{question.notes}}</p>

{{update-question question=question updateQuestion="updateQuestion"}}
