.jumbotron {
  min-height: 400px;
  background-image: url('/img/jumbotron.png');
  font-family: 'Roboto';
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
}

.thumb-button{
  height: 20px;
  width: 20px;
}
