<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ask It</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to "index"}}Home{{/link-to}}</li>
      <li><a href="https://github.com/akane0915/question-answer-board">Github</a></li>
      <li><a href="https://www.linkedin.com/in/asiakane/">LinkedIn</a></li>
    </ul>
  </div>
</nav>
<header class="jumbotron">
  <div class="container" id="jumbotron-text">
    <h1>ASK-IT</h1>
    <h3>A Place For Developers To Get Answers</h3>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
