<h2>Welcome to Ask-It!</h2>
<div class="row">
  <div class="col-md-9">
    <h4>Help Answer These Questions!</h4>
    {{#each model.questions as |question|}}
    <p>{{question.content}}</p>
    <p>Posted by: {{question.author}}</p>
    {{#link-to 'question' question.id}}<button class="btn btn-default">See Answers</button>{{/link-to}}
    <hr>
    {{/each}}
  </div>

  <div class="col-md-3">
    <h4>Ask a Question.</h4>
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
