<h2>Welcome to Ask-It!</h2>
<h4>Post a Question or Answer below.</h4>
{{new-question saveQuestion="saveQuestion"}}
{{#each model.questions as |question|}}
  <p>{{question.content}}</p>
  <p>- {{question.author}}</p>
  {{#link-to 'question' question.id}}<button class="btn btn-default">More Details</button>{{/link-to}}
  <hr>
{{/each}}
